@use '@styles/Utils/utils' as utils;

.main {
  &__error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 139px;
    margin: 89px 0px;
    &__404 {
      color: utils.$primary-color;
      font-size: 200px;
    }
    &__text {
      color: utils.$primary-color;
      font-size: 36px;
    }
    &__link {
      color: black;

      &:hover {
        color: utils.$primary-color;
      }
    }
  }
}
