@use '@styles/Utils/utils';

.toggle-section {
  &__item {
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: utils.$primary-color;
      color: utils.$white-color;
      padding: 10px;
      border-radius: 5px;
      font-weight: 700;

      @media (max-width: 1024px) {
        font-size: 18px;
        height: 41px;
      }
      @media (max-width: 720px) {
        font-size: 13px;
        height: 30px;
      }

      i {
        font-size: 32px;
        cursor: pointer;
        display: inline-block;
        transition: transform 0.5s ease;
        padding: 0 17px;
        @media (max-width: 1024px) {
          font-size: 24px;
          padding: 0 14px;
        }
        @media (max-width: 720px) {
          font-size: 20px;
          padding: 0 10px;
        }
      }

      &.rotate-left i {
        transform: rotate(-180deg);
      }

      &.rotate-right i {
        transform: rotate(0deg);
      }
    }

    &__content {
      padding: 25px;
      background-color: utils.$content-color;
      border-radius: 5px;
      @media (max-width: 1024px) {
        font-size: 16px;
        padding: 16px;
      }
      @media (max-width: 720px) {
        font-size: 12px;
        padding: 13px;
      }
    }

    &__content-wrapper {
      max-height: 0;
      transform-origin: top;
      transform: scaleY(0);
      overflow: hidden;
      transition:
        transform 0.3s ease,
        max-height 0.3s ease;
      &--active {
        transform: scaleY(1);
        max-height: 500px;
      }
    }
  }
}
