@use '@styles/Utils/utils' as utils;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 45px 100px 0 100px;

  &__logoRL {
    display: none;
  }

  &__nav {
    display: flex;
    gap: 57px;

    &__link {
      text-decoration: none;
      color: utils.$black-color;

      &--fontsize {
        font-size: 24px;
        font-weight: 500;
      }

      &:hover {
        color: utils.$primary-color;
      }

      &--active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    margin: 32px 50px 0 50px;
    &__nav {
      gap: 36px;

      &__link--fontsize {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 720px) {
  .header {
    margin: 20px 20px 0 20px;
    gap: 43px;
    &__logoR {
      display: none;
    }
    &__logoRL {
      display: block;
    }
    &__nav {
      gap: 26px;

      &__link--fontsize {
        font-size: 12px;
      }
    }
  }
}
