@use '@styles/Utils/utils' as utils;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 45px 100px 0 100px;

  @media (max-width: 1024px) {
    margin: 32px 50px 0 50px;
  }

  @media (max-width: 720px) {
    margin: 20px 20px 0 20px;
    gap: 26px;
  }

  &__logoRL {
    display: none;

    @media (max-width: 720px) {
      display: block;
    }
  }

  &__logoR {
    @media (max-width: 720px) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    gap: 57px;

    @media (max-width: 1024px) {
      gap: 36px;
    }

    @media (max-width: 720px) {
      gap: 26px;
    }

    &__link {
      text-decoration: none;
      color: utils.$black-color;

      &--fontsize {
        font-size: 24px;
        font-weight: 500;

        @media (max-width: 1024px) {
          font-size: 18px;
        }

        @media (max-width: 720px) {
          text-transform: uppercase;
          font-size: 12px;
        }
      }

      &:hover {
        color: utils.$primary-color;
      }

      &--active {
        text-decoration: underline;
      }
    }
  }
}
