@use '@styles/Utils/utils' as utils;
.main {
  &__apropos1 {
    height: 223px;
    @include utils.background-image-darken(
      '@assets/Apropos.png',
      utils.$black-color,
      0.3
    );
    border-radius: 25px;
    margin-bottom: 38px;
  }
  &__apropos2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 100px;
  }
}
