@use '@styles/Utils/utils' as utils;
.main {
  &__apropos1 {
    height: 223px;
    @include utils.background-image-darken('@assets/Apropos.png', black, 0.3);
    border-radius: 25px;
    margin-bottom: 38px;
  }
}
